/* ProfileItem.css */

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.round-img {
  width: 100px;
  height: 100px;
  border:1px solid red;
  border-radius: 50%; 
}

.profile-details {
  flex: 1;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555555;
}

.btnprimary {
  background-color:#042c4f;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #8b130d;
  }
}

.skills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #dcdcdc;
  color: #333333;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.text-primary {
  color: #3498db;
  margin-right: 10px;
}

.fa-check {
  color: #27ae60;
  margin-right: 5px;
}
/* @media only screen and (max-width: 767px) {
  .round-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
} */